<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Zybriqs</title>
  <meta name="description" content="ejs page">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="viewStyles">

  <head>

    <!-- meta  -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Stylesheets  -->
    <link rel="stylesheet" type="text/css" href="styles/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="styles/layout2.css" />
    <link rel="stylesheet" type="text/css" href="styles/sliderStyles.css" />
    <link rel="stylesheet" type="text/css" href="styles/headerStyle.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!-- End Stylesheets  -->

    <!-- jQuery  -->
    <!-- Poppper  -->
    <!-- BootStrap  -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
      </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>

  <style>
    p,
    h2 {
      color: #c7d8ed;
    }

    h1,
    .signature {
      font-size: 20px;
      color: #c7d8ed;
    }

    p {
      color: #c7d8ed;
      margin-top: 15px !important;
      margin-bottom: 15px !important;

    }

    .title {
      font-size: 60px;
      color: #e0e8ee
    }

    h2 {
      margin: 30px !important;
    }

    .container {
      width: 600px !important;
      margin: 0 auto !important;
    }

    i {
      font-size: 16px;
    }

    label {
      width: 200px;
      margin-right: 30px;
    }

    input {
      margin-bottom: 23px !important;
    }

    button {
      width: 150px;
      margin: 30px auto !important;
    }

    .loginRegister {
      text-align: center;
    }

    .welcome {
      color: #c7d8ed;
    }

    .buttonDiv {
      text-align: center;
    }

    #playZyb {
      color: salmon;
      font-size: 36px;
      width: 400px;
      height: 150px;
    }
  </style>



</head>

<body>

  <header>
    <div id="navContainer">
      <nav class="navbar navbar-expand-sm navbar-dark">
        <a class="name navbar-brand" href="/game">
          Zybriqs
        </a>



        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav ml-auto">
            <% if (user) { %>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</span></a>
              </li>
              <% } else if (!user) { %>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/register">Register</a>
                </li>
                <% } %>
                  <li class="nav-item">
                    <a class="nav-link" href="/About">About</a>
                  </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <main>

    <div class="container">
      </br>
      <h4 class="welcome">Welcome to</h4>
      <h1 class="title"> Zybriqs</h1>
      </br>
      <p> Zybriqs is a creative coding/interactive art project created by Elwyn Palmerton.</p>

      <p> Zybriqs was with created with P5.js, Javascript, Node.js, Express, MongoDB, and Mongoose.</p>

      <p>Zybriqs was inspired by Daniel Daniel Shiffman's <a href="https://natureofcode.com/book/">The Nature
          of Code.</a> The system for modeling physics are partly based on the examples in chapter two of the nature
        of code.</p>

      <p>Zybriqs.com respects the privacy of your data and will not access any of your personal data except for
        the purposes of logging into Zybriqs.com and preserving the state of projects (your Zybriqses) on this site.</p>
      <div class="privacy">
        <a href="https://www.iubenda.com/privacy-policy/21479875" class="iubenda-white iubenda-embed"
          title="Privacy Policy ">Privacy Policy</a>
        <script
          type="text/javascript">(function (w, d) { var loader = function () { var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s, tag); }; if (w.addEventListener) { w.addEventListener("load", loader, false); } else if (w.attachEvent) { w.attachEvent("onload", loader); } else { w.onload = loader; } })(window, document);</script>
      </div>

      <p>Please enjoy Zybriqs.com:</p>

      <a href="/game">
        <button id="playZyb">Play Zybriqs</button>
      </a>
      <p>
        If you would like to see my other web development projects please check out my portfolio at <a
          href="http://elwynwebdev.com">elwynwebdev.com</a>. </p>

      </p>
      </br>
      <p class="signature">
        -Elwyn Palmerton
      </p>
      <p>
        <i>Site creator and administrator</i>
      </p>
      <p>
        contact: elwyn.palmerton@gmail.com
      </p>

    </div>
    <footer style="margin-top: 50px; text-align: center">
      <p style="color: ghostwhite" id="copyright"></p>
    </footer>



    <script type="text/javascript">
      document.getElementById('copyright');
      const year = new Date().getFullYear();
      const text = "©" + year + " Elwyn Palmerton";
      const elt = document.getElementById('copyright');
      elt.innerText = text;
    </script> .com


  </main>

</body>

</html>